[Unit]
Description=Bootkube - bootstrap in place post reboot
Wants=kubelet.service
After=kubelet.service
ConditionPathExists=/etc/kubernetes/bootstrap-secrets/kubeconfig
[Service]
Type=oneshot
ExecStart=/usr/local/bin/bootstrap-in-place-post-reboot.sh
RestartSec=5s
[Install]
WantedBy=multi-user.target
